pkgbase = inir-meta
	pkgdesc = Full iNiR desktop experience meta-package
	pkgver = 2.27.0
	pkgrel = 1
	url = https://github.com/snowarch/iNiR
	arch = any
	license = MIT
	depends = adw-gtk-theme
	depends = awww
	depends = blueman
	depends = breeze-icons
	depends = capitaine-cursors
	depends = cava
	depends = darkly-bin
	depends = ddcutil
	depends = easyeffects
	depends = ffmpeg
	depends = fprintd
	depends = geoclue
	depends = gnome-keyring
	depends = gum
	depends = hyprpicker
	depends = imagemagick
	depends = inir-shell
	depends = kconfig
	depends = kdialog
	depends = kitty
	depends = kvantum
	depends = libdbusmenu-gtk3
	depends = libqalculate
	depends = mpv
	depends = mpv-mpris
	depends = nautilus
	depends = otf-space-grotesk
	depends = pacman-contrib
	depends = pavucontrol
	depends = plasma-browser-integration
	depends = plasma-integration
	depends = qt6ct
	depends = socat
	depends = songrec
	depends = swappy
	depends = tesseract
	depends = tesseract-data-eng
	depends = tesseract-data-spa
	depends = translate-shell
	depends = ttf-oxanium
	depends = ttf-readex-pro
	depends = ttf-rubik-vf
	depends = ttf-twemoji
	depends = upower
	depends = uv
	depends = wf-recorder
	depends = whitesur-icon-theme
	depends = wtype
	depends = ydotool
	depends = yt-dlp
	optdepends = millennium-bin: Steam theming via Millennium (requires steam)
	source = LICENSE::https://raw.githubusercontent.com/snowarch/iNiR/main/LICENSE
	sha256sums = SKIP

pkgname = inir-meta
